
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="{{product.images[0]['url']}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a  routerLink="/product/{{product._id}}">{{product.name}}</a>
      </h4>
      <h5>${{product.unit_price}}</h5>
      <p class="card-text">{{(product.description.length>30)? (product.description | slice:0:30)+'...':(product.description)}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <ng-container *ngFor="let dummy of ' '.repeat(product.score).split(''), let x = index" >
          &#9733;
        </ng-container>
      </small>
    </div>
  </div>


